{{define "detail"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="/static/img/logo/spot.png" />
    <link rel="stylesheet" href="/static/css/display.css">
</head>

<body>
    <div id="content" class="up">
        {{template "header" .}}
        <section class="body-global">
            <div class="connection-global">
                <div class="btn">
                    <a href="/url?url=before" class="btn-gauche">❮</a>
                    <a href="/url?url=after" class="btn-droite">❯</a>
                </div>
                {{if .UtilisateurData.Connect}}
                {{if eq .Utilisateur.Img "vert"}}
                <a href="/favoris" class="vert">
                    <p>{{.Utilisateur.Letter}}</p>
                </a>
                {{else}}
                <img src="/static/img/{{.Utilisateur.Img}}" class="pdp" />
                {{end}}
                {{else}}
                <div class="connextion-btn">
                    <a href="/inscription" class="sinscrire"> S'incrire </a>
                    <a href="/login" class="connection"> Se connecter </a>
                </div>
                {{end}}
            </div>
            {{if eq .Cat "album"}}
            <div class="playlist">
                <div class="head">
                    {{range .AlbumsDetail.Images}}
                    <img src="{{.URL}}" alt="cover">
                    {{break}}
                    {{end}}
                    <div class="cover-info-album">
                        <p class="type">{{.Cat}}</p>
                        <p class="titre">{{.AlbumsDetail.Name}}</p>
                        <p class="detail">
                            {{range
                            .AlbumsDetail.Artists}}{{.Name}}•{{end}}{{.AlbumsDetail.ReleaseDate}}•{{.AlbumsDetail.TotalTracks}}
                            titres,
                            {{.AlbumsDetail.Temps}} </p>
                    </div>
                </div>
                <div class="btns">
                    {{$isFavorrite := false}}
                    {{$CurrentId := .AlbumsDetail.ID}}
                    {{range .UtilisateurData.FavorisAlbums}}
                    {{if eq .ID $CurrentId}}
                    {{$isFavorrite = true}}
                    {{end}}
                    {{end}}
                    {{if $isFavorrite}}
                    <a href="/suppr?href={{.AlbumsDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/Capture d'écran 2024-03-21 221613.png" class="like">
                    </a>
                    {{else}}
                    <a href="/treatment/favoris?href={{.AlbumsDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/ajout.png" class="like">
                    </a>
                    {{end}}

                </div>
                <div class="lst">
                    <div class="header-lst">
                        <div class="hashtitre">
                            <p>#</p>
                            <p class="TIRE">Titre</p>
                        </div>
                        <div class="HR">
                            <svg class="horloge">
                                <path
                                    d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                                </path>
                                <path
                                    d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <ol class="songs">
                        {{range .AlbumsDetail.Tracks.Items}}
                        <li class="song">
                            <div class="info_song">
                                <div class="lis">
                                    <a href="/detail?href={{.Href}}&type={{.Type}}">{{.Name}}</a>
                                    <div class="feat">
                                        <p>{{range .Artists}} {{.Name}} {{end}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tmp">
                                {{.Temps}}
                            </div>
                        </li>
                        {{end}}
                        </om>
                        <div class="copyright">
                            {{range .AlbumsDetail.Copyrights}}
                            <p>{{.Text}}</p>
                            {{break}}
                            {{end}}
                        </div>
                </div>
            </div>
            {{else if eq .Cat "track"}}
            <div class="playlist">
                {{range .TracksDetail.Album.Images}}
                <div class="head">
                    <img src="{{.URL}}" alt="cover">
                    {{break}}
                    {{end}}
                    <div class="cover-info-album">
                        <p class="type">Titre</p>
                        <p class="titre">{{.TracksDetail.Name}}</p>
                        <p class="detail">
                            {{range
                            .TracksDetail.Artists}}{{.Name}}•{{end}}{{.TracksDetail.Album.Name}}•{{.TracksDetail.Album.ReleaseDate}}•{{.TracksDetail.Temps}}•{{.TracksDetail.Like}}
                        </p>
                    </div>
                </div>
                <div class="btns">
                    <a class="play"
                        href="/play?t={{.TracksDetail.Name}}&href={{.TracksDetail.Href}}&a={{range .TracksDetail.Artists}}{{.Name}}{{break}}{{end}}">
                        ▶ </a>
                    {{$isFavorrite := false}}
                    {{$CurrentId := .TracksDetail.ID}}
                    {{range .UtilisateurData.FavorisTracks}}
                    {{if eq .ID $CurrentId}}
                    {{$isFavorrite = true}}
                    {{end}}
                    {{end}}
                    {{if $isFavorrite}}
                    <a href="/suppr?href={{.FavorisTracks.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/Capture d'écran 2024-03-21 221613.png" class="like">
                    </a>
                    {{else}}
                    <a href="/treatment/favoris?href={{.TracksDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/ajout.png" class="like">
                    </a>
                    {{end}}
                </div>
                <div class="lst">
                    <div class="header-lst">
                        <div class="hashtitre">
                            <p>#</p>
                            <p>Titre</p>
                        </div>
                        <div class="HR">
                            <svg class="horloge">
                                <path
                                    d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                                </path>
                                <path
                                    d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <ol class="songs">
                        {{range .AlbumsDetail.Tracks.Items}}
                        <li class="song">
                            <div class="info_song">
                                <div class="lis">
                                    <a href="/detail?href={{.Href}}&type={{.Type}}">{{.Name}}</a>
                                    <div class="feat">
                                        <p>{{range .Artists}} {{.Name}} {{end}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tmp">
                                {{.Temps}}
                            </div>
                        </li>
                        {{end}}

                        <div class="copyright">
                            {{range .AlbumsDetail.Copyrights}}
                            <p>{{.Text}}</p>
                            {{break}}
                            {{end}}
                        </div>
                    </ol>
                </div>
            </div>
            {{else if eq .Cat "artist"}}
            <div class="playlist">
                <div class="head">
                    {{range .ArtistsDetail.Images}}
                    <img class="img-artist" src="{{.URL}}" alt="cover">
                    {{break}}
                    {{end}}
                    <div class="cover-info-album">
                        <p class="type">{{.Cat}}</p>
                        <p class="titre">{{.ArtistsDetail.Name}}</p>
                        <p class="follower">{{.ArtistsDetail.Followers.Totalstr}} auditeurs mensuels</p>
                    </div>
                </div>
                <div class="btns">
                    {{$isFavorrite := false}}
                    {{$CurrentId := .ArtistsDetail.ID}}
                    {{range .UtilisateurData.FavorisArtists}}
                    {{if eq .ID $CurrentId}}
                    {{$isFavorrite = true}}
                    {{end}}
                    {{end}}
                    {{if $isFavorrite}}
                    <a href="/suppr?href={{.ArtistsDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/Capture d'écran 2024-03-21 221613.png" class="like">
                    </a>
                    {{else}}
                    <a href="/treatment/favoris?href={{.ArtistsDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/ajout.png" class="like">
                    </a>
                    {{end}}
                </div>
                <div class="lst">
                    <div class="header-lst-artist">
                        <p>Populaires</p>
                    </div>
                    <ol class="songs">
                        {{range .TrackListAPI.Tracks}}
                        <li class="song-artist">
                            <div class="info_song-artist">
                                <div class="lis-artist">
                                    {{range .Album.Images}}
                                    <img src="{{.URL}}" alt="pdp_album">
                                    {{break}}
                                    {{end}}
                                    <a href="/detail?href={{.Href}}&type={{.Type}}" class="a-artist">{{.Name}}</a>
                                </div>
                            </div>
                            <div class="like-artist">
                                {{.Like}}
                            </div>
                            <div class="tmp">
                                {{.Temps}}
                            </div>
                        </li>
                        {{end}}
                    </ol>
                    <div class="header-lst-artist listalbums">
                        <p>Discographie</p>
                    </div>
                    <div class="songs-album">
                        {{range .AlbumListAPI.Items}}
                        <div class="album-individual">
                            <a href="/detail?href={{.Href}}&type=album" class="pdp-album">
                                {{range .Images}}
                                <img src="{{.URL}}" alt="pdp album">
                                {{break}}
                                {{end}}
                            </a>
                            <div class="blaze">
                                <p>{{.Name}}</p>
                            </div>
                            <div class="detail">
                                <p>{{.ReleaseDate}} • {{.AlbumType}}</p>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            {{else if eq .Cat "playlist"}}
            <div class="playlist">
                <div class="head">

                    {{range .PlaylistDetail.Images}}
                    <img src="{{.URL}}" alt="cover">
                    {{break}}
                    {{end}}
                    <div class="cover-info-album">
                        <p class="type">{{.Cat}}</p>
                        <p class="titre">{{.PlaylistDetail.Name}}</p>
                        <p class="description">{{.PlaylistDetail.Description}}</p>
                    </div>
                </div>
                <div class="btns">
                    {{$isFavorrite := false}}
                    {{$CurrentId := .PlaylistDetail.ID}}
                    {{range .UtilisateurData.FavorisPlaylist}}
                    {{if eq .ID $CurrentId}}
                    {{$isFavorrite = true}}
                    {{end}}
                    {{end}}
                    {{if $isFavorrite}}
                    <a href="/suppr?href={{.PlaylistDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/Capture d'écran 2024-03-21 221613.png" class="like">
                    </a>
                    {{else}}
                    <a href="/treatment/favoris?href={{.PlaylistDetail.Href}}&type={{.Cat}}" class="lik">
                        <img src="/static/img/ajout.png" class="like">
                    </a>
                    {{end}}
                </div>
                <div class="lst">
                    <div class="header-lst">
                        <div class="hashtitre">
                            <p>#</p>
                            <p>Titre</p>
                        </div>
                        <div class="HR">
                            <svg class="horloge">
                                <path
                                    d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                                </path>
                                <path
                                    d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <ol class="songs">
                        {{range .PlaylistDetail.Tracks.Items}}
                        <li class="song">
                            <div class="info_song">
                                <div class="lis">
                                    <a href="/detail?href={{.Track.Href}}&type={{.Track.Type}}">{{.Track.Name}}</a>
                                    <div class="feat">
                                        <p>{{range .Track.Artists}} {{.Name}} {{end}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nom_album">
                                <p>{{.Track.Album.Name}}</p>
                            </div>
                            <div class="added">
                                <p>{{.AddedAt}}</p>
                            </div>
                            <div>
                                {{.Track.Temps}}
                            </div>
                        </li>
                        {{end}}
                    </ol>
                </div>
            </div>
            {{end}}

        </section>
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}