{{define "footer"}}
<div id="loader">
    <div class="loader-content">
        <div class="loader-spinner"></div>
    </div>
</div>
<footer>
    {{if .UtilisateurData.Play}}
    <div class="footer-music">
        {{range .Footer.Album.Images}}
        <img class="foopho" src="{{.URL}}" alt="photo album">
        {{break}}
        {{end}}
        <div class="footer-info">

            <p class="footer-titre">{{.Footer.Name}}</p>
            <p class="footer-feat">{{range .Footer.Artists}}{{.Name}}{{end}}</p>
        </div>
    </div>
    <div class="audio-player">
        <audio id="myAudio" autoplay>
            <source src="/static/vid/{{.Footer.IDYtb}}.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="audio-controls">
            <button id="play-pause-button">&#9658;</button>
            <div class="tm">
                <div id="time-display">
                    <span id="current-time">00:00</span>
                </div>
                <div id="progress-bar">
                    <div id="progress"></div>
                </div>
                <div id="time-display">
                    <span id="duration">00:00</span>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="footer-vide"></div>
    <img class="img" src="/static/img/spotify.png">
    {{end}}
    <div class="footer-doc">
        <a href="https://developer.spotify.com/documentation/web-api">
            Collection Api
        </a>
        <a href="/propos">
            A Propos
        </a>
    </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOMContentLoaded");
        const audio = document.getElementById("myAudio");

        var baliseSource = document.querySelector("#myAudio source");
        var urlAudio = baliseSource.getAttribute("src");       
        document.getElementById('loader').style.display = 'none';
        document.getElementById('content').style.display = 'flex';

        if (urlAudio != localStorage.getItem("src")) {
            localStorage.setItem("time", 0);
            localStorage.setItem("src", urlAudio);
        }

        const playPauseButton = document.getElementById('play-pause-button');
        const progressBar = document.getElementById('progress');
        const currentTimeDisplay = document.getElementById('current-time');
        const durationDisplay = document.getElementById('duration');

        if (localStorage.getItem("time") != null || localStorage.getItem("time") != "") {
            audio.currentTime = localStorage.getItem("time");
        } else {
            localStorage.setItem("time", 0);
        }

        if (localStorage.getItem("isAudioPlaying") == "true") {
            audio.play();
            audio.currentTime = localStorage.getItem("time");
            playPauseButton.textContent = "\u23F8";
        } else if (localStorage.getItem("isAudioPlaying") == null || localStorage.getItem("isAudioPlaying") =="") {
            audio.play();
            audio.currentTime = 0;
            playPauseButton.textContent = "\u23F8";
            localStorage.setItem("time", 0);
            localStorage.setItem("isAudioPlaying", "true");
        } else {
            audio.pause();
            playPauseButton.textContent = "\u25ba";
        }

        playPauseButton.addEventListener('click', function () {
            if (localStorage.getItem("isAudioPlaying") == "false") {
                audio.play();
                audio.currentTime = localStorage.getItem("time");
                localStorage.setItem("isAudioPlaying", "true");
                playPauseButton.textContent = "\u23F8";
            } else {
                audio.pause();
                localStorage.setItem("isAudioPlaying", "false");
                playPauseButton.textContent = "\u25ba";
            }

        });
        audio.addEventListener('timeupdate', function () {
            localStorage.setItem("time", audio.currentTime);
            const currentTime = audio.currentTime;
            const duration = audio.duration;

            currentTimeDisplay.textContent = formatTime(currentTime);
            durationDisplay.textContent = formatTime(duration);

            const progress = (currentTime / duration) * 100;
            progressBar.style.width = progress + '%';
        });

        function formatTime(time) {
            const minutes = Math.floor(time / 60);
            const seconds = Math.floor(time % 60);
            return `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
        }
    });

    document.addEventListener("readystatechange", function (event) {
        if (document.readyState === "loading") {
            document.getElementById('loader').style.display = 'block';
            document.getElementById('content').style.display = 'none';
        } else if (document.readyState === "complete") {
            document.getElementById('loader').style.display = 'none';
            document.getElementById('content').style.display = 'flex';
        }
    });

    window.addEventListener("beforeunload", function (event) {
        document.getElementById('loader').style.display = 'block';
        document.getElementById('content').style.display = 'none';
    });
</script>
{{end}}
<!-- <svg viewBox="0 0 16 16" class="play">
    <path
    d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z">
</path>
</svg> -->