{{define "header"}}
<header class="nav-collection">
    <div class="nav-global">
        <a class="href nav-acceuil" href="/index">
            <img src="/static/img/home.png" class="home-outline" />
            <p>Accueil</p>
        </a>
        <a href="/search" class="nav-recherche">
            <img src="/static/img/search.png" class="search-outline" />
            <p>Recherche</p>
        </a>
    </div>
    <div class="collection-global">
        <div class="collection-titre">
            <img src="/static/img/collection.png" class="albums-outline" />
            <p>Collection</p>
        </div>
        <div class="carroussel-global">
            <a href="/category?c=album">Albums</a>
            <a href="/category?c=track">Track</a>
            <a href="/category?c=playlist">Playlists</a>
            <a href="/category?c=artist">Artistes</a>
        </div>
        <div class="tarck-global">
            {{if .UtilisateurData.Fav}}
            {{range .UtilisateurData.FavorisAlbums}}
            <a href="/detail?href={{.Href}}&type={{.Type}}" class="header-track">
                <div class="img-track">
                    {{range .Images}} {{if eq .Width 640}}
                    <img src="{{.URL}}" alt="" height="100%" />
                    {{break}} {{end}} {{end}}
                </div>
                <div class="info-global">
                    <div class="info-titre">
                        <p><strong>{{.Name}}</strong></p>
                    </div>
                    <div class="info-artist">
                        {{range .Artists}}
                        <p>{{.Name}}</p>
                        {{end}}
                    </div>
                    <div class="info-date">
                        <p>{{.ReleaseDate}}</p>
                    </div>
                </div>
            </a>
            {{end}}
            {{range .UtilisateurData.FavorisPlaylist}}
            <a href="/detail?href={{.Href}}&type={{.Type}}" class="header-track">
                <div class="img-track">
                    {{range .Images}} {{if eq .Width 640}}
                    <img src="{{.URL}}" alt="" height="100%" />
                    {{break}} {{end}} {{end}}
                </div>
                <div class="info-global">
                    <div class="info-titre">
                        <p><strong>{{.Name}}</strong></p>
                    </div>
                    <div class="info-artist">
                       <p>{{.Owner.DisplayName}}</p>
                    </div>
                    <div class="info-date">
                        <p>{{.Temps}}</p>
                    </div>
                </div>
            </a>
            {{end}}
            {{range .UtilisateurData.FavorisArtists}}
            <a href="/detail?href={{.Href}}&type={{.Type}}" class="header-track">
                <div class="img-track">
                    {{range .Images}} {{if eq .Width 640}}
                    <img src="{{.URL}}" alt="" height="100%" />
                    {{break}} {{end}} {{end}}
                </div>
                <div class="info-global">
                    <div class="info-titre">
                        <p><strong>{{.Name}}</strong></p>
                    </div>
                    <div class="info-artist">
                       <p>Artist</p>
                    </div>
                </div>
            </a>
            {{end}}
            {{range .UtilisateurData.FavorisTracks}}
            <a href="/detail?href={{.Href}}&type={{.Type}}" class="header-track">
                <div class="img-track">
                    {{range .Album.Images}} {{if eq .Width 640}}
                    <img src="{{.URL}}" alt="" height="100%" />
                    {{break}} {{end}} {{end}}
                </div>
                <div class="info-global">
                    <div class="info-titre">
                        <p><strong>{{.Name}}</strong></p>
                    </div>
                    <div class="info-artist">
                       <p>Track</p>
                    </div>
                </div>
            </a>
            {{end}}
            {{else}}
            {{range .Header.Albums.Items}}
            <a href="/detail?href={{.Href}}&type={{.Type}}" class="header-track">
                <div class="img-track">
                    {{range .Images}} {{if eq .Width 640}}
                    <img src="{{.URL}}" alt="" height="100%" />
                    {{break}} {{end}} {{end}}
                </div>
                <div class="info-global">
                    <div class="info-titre">
                        <p><strong>{{.Name}}</strong></p>
                    </div>
                    <div class="info-artist">
                        {{range .Artists}}
                        <p>{{.Name}}</p>
                        {{end}}
                    </div>
                    <div class="info-date">
                        <p>{{.ReleaseDate}}</p>
                    </div>
                </div>
            </a>
            {{end}}
            {{end}}
        </div>
    </div>
</header>

{{end}}