{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="icon" href="/assets/img/logo/spot.png" />
</head>

<body>
    <div id="content" class="up">
        {{template "header" .}}
        <section class="body-global">
            <div class="connection-global">
                <div class="btn">
                    <a href="/url?url=before" class="btn-gauche">❮</a>
                    <a href="/url?url=after" class="btn-droite">❯</a>
                </div>
                {{if .UtilisateurData.Connect}}
                {{if eq .Utilisateur.Img "vert"}}
                <a href="/favoris" class="vert">
                    <p>{{.Utilisateur.Letter}}</p>
                </a>
                {{else}}
                <a href="/favoris">
                    <img src="/static/img/{{.Utilisateur.Img}}" class="pdp" />
                </a>
                {{end}}
                {{else}}
                <div class="connextion-btn">
                    <a href="/inscription" class="sinscrire"> S'incrire </a>
                    <a href="/login" class="connection"> Se connecter </a>
                </div>
                {{end}}
            </div>
            <div class="over">
                <div class="bonjour">
                    {{if .UtilisateurData.Connect}}
                    <p>Bonjour {{.Utilisateur.Name}}</p>
                    {{else}}
                    <p>Bienvenue </p>
                    {{end}}
                </div>
                <div class="playlist">
                    {{range .ListPlaylist.Playlists.Items}}
                    <a href="/detail?href={{.Href}}&type={{.Type}}" class="playlist-global">
                        <div class="img-playlist">
                            {{range .Images}}
                            <img src="{{.URL}}" alt="" height="100%" />
                            {{break}} {{end}}
                        </div>
                        <div class="info-playlist">
                            <div class="playlist-titre">
                                <p><strong>{{.Name}}</strong></p>
                            </div>
                            <div class="info-artist-playlist">
                                <p>{{.Description}}</p>
                                <p>{{.Owner.DisplayName}}</p>
                            </div>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
        </section>
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}